body{
   
    background-color: black;
}
.main{
width: 100vw;
height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hh{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
   
}
.loding-one{

    animation: loding 1s linear .3s infinite;
}
.loding-two{

    animation: loding 1s linear .6s infinite;
}
.loding-three{

    animation: loding 1s linear .9s infinite;
}


@keyframes loding {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10PX);
    }
    100%{
        transform: translateY(0);
    }
}